*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Dc_Ryo8VMAAeFF2.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}